.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 8px;
}

// BG HOME 

.bg-home{
    position: relative;
}

.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #2a4d3f), url("../assets/imagem.svg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

//---------------------------------------------

// HERO----------------------------

.hero{
  color: $white-normal;
  min-height: 80vh;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
  padding: 14px;
  gap: 20px;

  h1{
    text-align: center;
    line-height: 100%;
    max-width: 80%;
    font-size: 26px;
    padding: 0;
    margin: 10px 0;
  }

  p{
    text-align: center;
    padding: 0;
    margin: 10px 0;
  }

}


.button-contact{
    padding: 14px 28px;
    color: $white-normal;
    background-color: $green-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    align-items: center;

}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton{
    from{
    transform: scale(1);
}
to{
    transform: scale(1.07);
}
}

@media screen and (max-width: 768px){
    .hero{
        min-width: 60vh;

        h1{
            font-size: 34px;
            padding: 0 14px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        p{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 480px){
    .hero h1{
        font-size: 24px;
    }
    
}

//----------------------------------------------

//ABOUT--------------------

.about{
    background-color: $green-dark;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img{
        max-width: 100%;
        height: auto;

    }
}

.about-content div{
    flex: 1;
}

.about-description{
    h2{
        font-size: 38px;
        margin-bottom: 24px;
    }

    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
}



@media screen and (max-width: 760px) {
    .about-content{
        flex-direction: column;
    }
    
}

//------------------------------------------

// SERVICES

.services{
    background-color: $white-normal;
    color: $black-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;

}

.services-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;

}

.services-content p{
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;

}

.servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 0 44px 34px 44px;
}

.servico{
    flex: 1;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction:column;
    background-color: $white-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px  rgba(0,0,0, 0.45);
    
    overflow: hidden;

    img{
        width: 100%;
        max-width: 354px;
        transition: transform 0.2s;
    }

}

.servico img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.servico-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: $white-normal;
    z-index: 99;
}

.servico-info button{
    color: $white-normal;
    background-color: $green-normal;
    padding: 4px 8px;
    border-radius: 6px;
    border: 0;
}

@media screen and (max-width: 768px) {
    .servicos{
        flex-direction: column;
        padding: 20px;
    }

    .servicos img{
        max-width: 540px;

    }
}

//---------------------------------

//FORMULARIO-----------

.formulario {
    background-color: #f9f9f9;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

.formulario-content {
    text-align: center;
    flex-wrap: wrap;
}

.formulario-content h2 {
    color: #2A4D3F; /* Verde escuro */
    margin-bottom: 20px;
}

.formulario-content p {
    color: #555;
    margin-bottom: 30px;
}

/* Estilização do Formulário */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #4A7C59;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #4A7C59; /* Verde */
}

button {
    padding: 10px 15px;
    background-color: #4A7C59; /* Verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2A4D3F; /* Verde escuro */
}

//--------------------------------------

//FOOTER--------------------

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $white-normal;
}
  
.footer-icons{
    display: flex;
    gap: 14px;
    color: $white-normal;
}

//------------------

//Botao Whatsapp
.btn-whatsapp{
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;


    img{
        max-width: 74px;
        flex-wrap: wrap;
        transition: transform 0.4s;
    }

    img:hover{
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background-color: $white-normal;
    color: $green-normal;
    opacity: 0;
    transform: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:768px) {
    .btn-whatsapp{
        img{
            max-width: 64px;
        }
    }
}